@page "/"

<PageTitle>Index</PageTitle>

<h1>Bem-Vindo Projeto Open-Source!</h1>

Projeto em Desenvolvimento para Ser Jogado no client do Digimon Master Online.

<SurveyPrompt Title="Já Jogou Digimon Master Online?" />
